body{
    background-image: url(space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}
P{
    color: white;
}
h2{
    color: white;
    border-bottom: 3px solid white;
}
h3{
    color: white;
}
ul{
    color: white;
}
